<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
</head>
<body>

    <h1>Welcome, {{ user }}</h1>

    <ul id="messages"></ul>

    <input type="text" id="msg" autocomplete="off" placeholder="Message Chatroom..." onkeydown="if (event.key === 'Enter') sendMessage()">
    <button type="button" onclick="sendMessage()">Send</button>

    <script>
        const socket = io();

        socket.on('connect', () =>{
            return
        })

        socket.on('message', function(msg) {
            const li = document.createElement("li");
            li.textContent = msg;
            document.getElementById("messages").appendChild(li);
        })

        function sendMessage() {
            const input = document.getElementById("msg");
            const message = input.value;
            if (message.trim()) {
                socket.send("{{ user }}: " + message);
                input.value = "";
            }
        }

    </script>

</body>
</html>